body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #e5e7eb;
  margin: 0;
  padding: 0;
}

header {
  padding: 30px;
  text-align: center;
  background: #020617;
}

main {
  padding: 40px;
  max-width: 800px;
  margin: auto;
}

article {
  margin-bottom: 40px;
}

iframe {
  width: 100%;
  border-radius: 8px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #020617;
}
